<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://handycareapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>handycareapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>handycareapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$handycareapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_NotificationHubConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_NotificationHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HandyCareModel" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:handycare.database.windows.net,1433;Initial Catalog=handycaredb;User ID=viananicolas@handycare;Password=Pun1shedSn4k3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="handycareappService.DataObjects.HandyCareModel, handycareappService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MS_TableConnectionString" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:handycare.database.windows.net,1433;Initial Catalog=handycaredb;User ID=viananicolas@handycare;Password=Pun1shedSn4k3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:handycare.database.windows.net,1433;Initial Catalog=handycaredb;Persist Security Info=False;User ID=viananicolas@handycare;Password=Pun1shedSn4k3;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_TableConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:handycare.database.windows.net,1433;Initial Catalog=handycaredb;Persist Security Info=False;User ID=viananicolas@handycare;Password=Pun1shedSn4k3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HandyCareModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:handycare.database.windows.net,1433;Initial Catalog=handycaredb;User ID=viananicolas@handycare;Password=Pun1shedSn4k3</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_NotificationHubConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:handycare.database.windows.net,1433;initial catalog=handycaredb;user id=viananicolas@handycare;password=Pun1shedSn4k3;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>